# Binaries
bin/*
obj/*

# Intermediate files
includes/generated
includes/win/generated
includes/lin/generated
includes/osx/generated
generated_*

# IDE files
*.sublime-*

# OS problem files
.DS_Store
.tags

# Test output files
tests/*.c
